<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/general.css">
  <link rel="stylesheet" href="/stylesheets/index.css">
  <link rel="stylesheet" href="stylesheets/table-material.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/oiler.png" type="image/x-icon">

  <title><%= dataStatic.tabTitle %></title>
</head>
<body>

  <h1 class="mainTitle"><%= dataStatic.mainTitle %></h1>

  <section>
    <button id="btnNewProduct">Nuevo Proucto</button>
  </section>

  <div class="tableContainer">
    <table class="tableData">
      <tr class="tableData-row">
        <th class="tableData-th1 borderRow">ID</th>
        <th class="tableData-th2 borderRow">Descripcion</th>
        <th class="tableData-th3 borderRow">Marca</th>
        <th class="tableData-th4 borderRow">Stock</th>
        <th class="tableData-th5 borderRow">Precio sin IVA</th>
        <th class="tableData-th6 borderRow">Editar</th>
        <th class="tableData-th7 borderRow">Eliminar</th>
      </tr>
      <% products.forEach(function(product) { %>
        <tr class="tableData-row">
          <td class="tabledata-cell borderRow center"><%- product.id %></td>
          <td class="tabledata-cell borderRow"><%- product.description %></td>
          <td class="tabledata-cell borderRow center"><%- product.brand %></td>
          <td class="tabledata-cell borderRow center"><%- product.amount %></td>
          <td class="tabledata-cell borderRow center">$&nbsp;<%- product.priceWNIva %></td>
          <td class="tabledata-cell borderRow center">
            <a href="http://localhost:3002/products/modifyProduct/<%- product.id %>">
              <img class="imgModify" src="/images/pen.png" alt="Mod">
            </a>
          </td>
          <td class="tabledata-cell borderRow center">
            <img class="imgDelete" src="/images/remove.png" alt="Del" id="btnDelete-<%- product.id %>">
          </td>
        </tr>
      <% }); %>
    </table>
  </div>

  <script src="/js/index.js"></script>
</body>
</html>
