<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/general.css">
  <link rel="stylesheet" href="/stylesheets/sales.css">
  <link rel="stylesheet" href="stylesheets/table-material.css">

  <!-- TailwindCSS -->
  <link rel="stylesheet" href="./stylesheets/output.css">

  <!-- Font Awesone -->
  <link rel="stylesheet" href="./font-awesome-4.7.0/css/font-awesome.min.css">

  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/oiler.png" type="image/x-icon">

  <title><%= dataStatic.tabTitle %></title>
</head>
<body>

  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <i class="fa fa-cog fa-fw"></i>
      <span class="font-semibold text-xl tracking-tight">Lubricentro</span>
    </div>
    <div class="block lg:hidden">
      <button id='boton' class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div id='menu' class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="http://localhost:3002/products" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Productos
        </a>
        <a href="http://localhost:3002/sales" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          Ventas
        </a>
      </div>
    </div>
  </nav>

  <h1 class="my-2 font-bold text-center uppercase"><%= dataStatic.mainTitle %></h1>

  <div class="tableContainer">
    <table class="tableData">
      <tr class="tableData-row">
        <th class="tableData-th1 borderRow">ID</th>
        <th class="tableData-th2 borderRow">Descripcion</th>
        <th class="tableData-th3 borderRow">Cantidad</th>
        <th class="tableData-th4 borderRow">Precio con IVA</th>
        <th class="tableData-th5 borderRow">Precio Final</th>
        <th class="tableData-th6 borderRow">Ganancia</th>
        <th class="tableData-th7 borderRow">Eliminar</th>
      </tr>
      <% sales.forEach(function(sale) { %>
        <tr class="tableData-row">
          <td class="tabledata-cell borderRow center"><%- sale.id %></td>
          <td class="tabledata-cell borderRow"><%- sale.description %></td>
          <td class="tabledata-cell borderRow center"><%- sale.amountSales %></td>
          <td class="tabledata-cell borderRow center"><%- sale.priceWIVA %></td>
          <td class="tabledata-cell borderRow center">$&nbsp;<%- sale.endPrice %></td>
          <td class="tabledata-cell borderRow center">$&nbsp;<%- sale.revenue %></td>
          <td class="tabledata-cell borderRow center">
            <img class="imgDelete" src="/images/remove.png" alt="Del" id="btnDelete-<%- sale.id %>">
          </td>
        </tr>
      <% }); %>
    </table>
  </div>

  <script src="/js/sales.js"></script>
</body>
</html>
